%div.fotos
  %img#piojo(src='http://28.media.tumblr.com/tumblr_l2v4iioIMe1qzk0jwo1_500.png')
  %img#loft(src='http://24.media.tumblr.com/tumblr_m4fzulGcjE1r2lohvo1_500.jpg')
%div.texto
- @opinions.each do |opinion|
  = opinion.mensaje
  %br
= link_to 'opinar', new_opinion_path
%br
= link_to 'ir al comienzo', root_url

  