#container
  .span10
    = map(:container_id => "map_all",
      :center => {:latlng => [-32.954088, -60.664458],:zoom => 12 },
      :circles =>  @all_circles[:leaflet])
  .span1
    = labels(@all_circles[:labels])
  - if @all_circles[:leaflet].nil?
    #text_over El partido no presentó candidatos para ese cargo