#container
  .span10
    = map(:container_id => "map_all",
      :center => {:latlng => [-32.954088, -60.664458],:zoom => 12 },
      :circles =>  create_leaflet_hash(@requested_circles))
  .span1
    = labels(@requested_circles)
  - if @requested_circles.max == 0
    #text_over El partido no presentó candidatos para ese cargo