// Place all the styles related to the bienvenidos controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@color: #4D926F;
 
#header {
  color: @color;
}
h2 {
  color: @color;
}
#map_all { height: 500px; }
#map_pro { height: 500px; }
#map_soc { height: 500px; }
#map_k { height: 500px; }
#map_int_pro { height: 500px; }
#map_fein { height: 500px; }
#map_mig { height: 500px; }


@base0: #ff7700;
@base1: #bf5900;
@base2: #803c00;
@base3: #401e00;
@base4: #000000;

.lab0{ color: @base0 ;}
.lab1{ color: @base1 ;}
.lab2{ color: @base2 ;}
.lab3{ color: @base3 ;}
.lab4{ color: @base4 ;}


.labels{font-size: 2em}